<header class="masthead">

  <div class="boards-menu">

    <button class="boards-btn btn">
      <i class="fa fa-trello boards-btn-icon"></i>Boards</button>

    <div class="board-search">
      <input type="search" class="board-search-input" [(ngModel)]="data.searchText" name="searchText" aria-label="Board Search">
      <i class="fa fa-search search-icon" aria-hidden="true"></i>
    </div>

  </div>

  <div class="logo">

    <h1>
      <i class="fa fa-trello logo-icon" aria-hidden="true"></i>Trello</h1>

  </div>



</header>