<section class="lists-container">
  
    <div class="list">
  
      <h3 class="list-title">To Do</h3>
  
     <app-task-listing [dataList]="cardData" [status]="1" (dragDone)="changeData()" ></app-task-listing>
  
      <button class="add-card-btn btn" (click)="addTask(1)">Add a card</button>
  
    </div>
  
    <div class="list">
  
      <h3 class="list-title">Doing</h3>
  
      <app-task-listing [dataList]="cardData" [status]="2" (dragDone)="changeData()" ></app-task-listing>
  
      <button class="add-card-btn btn" (click)="addTask(2)">Add a card</button>
  
    </div>
  
    <div class="list">
  
      <h3 class="list-title">Done</h3>
  
      <app-task-listing [dataList]="cardData" [status]="3" (dragDone)="changeData()" ></app-task-listing>
  
      <button class="add-card-btn btn" (click)="addTask(3)">Add a card</button>
  
    </div>
  
 
  </section>
